<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/head' %}
    <script src="scripts/calculator.js"></script>
    <link rel="stylesheet" href="styles/calculator.css">
</head>
<body class="flex flex-col items-center mb-32">
    {% include 'partials/navbar' %}

    <div class="flex flex-col justify-center items-center w-5/6 xl:w-1/2">
        <span class="pt-10 text-5xl font-bold text-center text-gray-800">Loan calculator</span>
        <span class="pt-5 text-md text-gray-800 text-center">Please enter the parameters of your loan (you can find them by contacting the bank or in your contract) and compare installments.</span>
        <span class="pt-5 text-md text-gray-800 text-center">The calculator allows you to calculate approximated installments for different interest rate values, time needed to pay off the loan in specified installments or how much do you need to pay per installment to pay off the loan in a given time.</span>
    </div>
    
    <hr class="w-2/3 h-1 rounded-xl my-8 bg-gray-500 border-0">

    <section class="flex flex-col justify-center items-center w-5/6 xl:w-1/2">
        <span class="pt-5 pb-2 text-xl font-semibold text-center">What do you want to calculate?</span>
        <div class="grid w-full grid-cols-3 gap-2 rounded-xl bg-gray-200 p-2">
            <div>
                <input type="radio" name="optionCalculator" id="total" value="total" class="peer hidden" checked>
                <label for="total"
                    class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-gray-500 peer-checked:font-bold peer-checked:text-white">Total</label>
            </div>
            <div>
                <input type="radio" name="optionCalculator" id="length" value="length" class="peer hidden">
                <label for="length"
                    class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-gray-500 peer-checked:font-bold peer-checked:text-white">Length</label>
            </div>
            <div>
                <input type="radio" name="optionCalculator" id="installments" value="installments" class="peer hidden">
                <label for="installments"
                    class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-gray-500 peer-checked:font-bold peer-checked:text-white">Installments</label>
            </div>
        </div>
    </section>


    <section id="formTotal" class="flex flex-col justify-center items-center w-full xl:w-1/2">
        <section class="flex flex-col justify-center items-center w-5/6">
            <span class="pt-10 pb-2 text-xl font-semibold text-center">Please enter the ammount borrowed</span>
            <div class="flex justify-center items-center w-full rounded-xl bg-gray-200 p-2">
                <button type="button" id="decrement-button-total"
                    class="bg-gray-500 hover:bg-gray-400 border-gray-400 border rounded-s-lg p-3 h-11 focus:ring-gray-500 focus:ring-2 focus:outline-none touch-pinch-zoom">
                    <svg class="w-4 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 18 2">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h16" />
                    </svg>
                </button>
                <input type="number" placeholder="20 000" id="quantity-input-total"
                    class="border-x-0 h-11 text-center text-md  block w-full py-3.5 border-gray-400 focus:ring-blue-500 focus:border-blue-500 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
                <button type="button" id="increment-button-total"
                    class="bg-gray-500 hover:bg-gray-400 border-gray-400 border rounded-e-lg p-3 h-11 focus:ring-gray-500 focus:ring-2 focus:outline-none touch-pinch-zoom">
                    <svg class="w-4 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 1v16M1 9h16" />
                    </svg>
                </button>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center w-5/6">
            <span class="pt-10 pb-2 text-xl font-semibold text-center">Please choose a rate for the loan</span>
            <div class="flex justify-center items-center w-full rounded-xl bg-gray-200 p-4">
                <input type="range" min="0" max="2000" value="0"
                    class="slider appearance-none w-5/6 h-4 rounded-md outline-none opacity-70 transition opacity duration-200 hover:opacity-100"
                    id="sliderTotal">
                <span class="px-4 w-1/6"><span id="outputTotal"></span>%</span>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center w-5/6">
            <span class="pt-10 pb-2 text-xl font-semibold text-center">How long would you want the loan to be (in
                months)?</span>
            <div class="flex justify-center items-center w-full rounded-xl bg-gray-200 p-2">
                <input type="number" name="lengthTotal" id="lengthTotal" placeholder="240"
                    class="w-full rounded-lg p-1 text-center text-lg [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                    required>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center w-5/6 xl:w-1/2 mt-10">
            <button id="buttonTotal"
                class="w-full h-full mt-5 bg-gray-700 p-2 rounded-lg text-white font-bold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-gray-500 duration-300">Check
                the result</button>
        </section>
    </section>

    <section id="formLength" class="flex flex-col justify-center items-center w-full xl:w-1/2 hidden">
        <section class="flex flex-col justify-center items-center w-5/6">
            <span class="pt-10 pb-2 text-xl font-semibold text-center">Please enter the ammount borrowed</span>
            <div class="flex justify-center items-center w-full rounded-xl bg-gray-200 p-2">
                <button type="button" id="decrement-button-length"
                    class="bg-gray-500 hover:bg-gray-400 border-gray-400 border rounded-s-lg p-3 h-11 focus:ring-gray-500 focus:ring-2 focus:outline-none touch-pinch-zoom">
                    <svg class="w-4 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 18 2">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h16" />
                    </svg>
                </button>
                <input type="number" placeholder="20 000" id="quantity-input-length"
                    class="border-x-0 h-11 text-center text-md  block w-full py-3.5 border-gray-400 focus:ring-blue-500 focus:border-blue-500 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
                <button type="button" id="increment-button-length"
                    class="bg-gray-500 hover:bg-gray-400 border-gray-400 border rounded-e-lg p-3 h-11 focus:ring-gray-500 focus:ring-2 focus:outline-none touch-pinch-zoom">
                    <svg class="w-4 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 1v16M1 9h16" />
                    </svg>
                </button>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center w-5/6">
            <span class="pt-10 pb-2 text-xl font-semibold text-center">Please choose a rate for the loan</span>
            <div class="flex justify-center items-center w-full rounded-xl bg-gray-200 p-4">
                <input type="range" min="0" max="2000" value="0"
                    class="slider appearance-none w-5/6 h-4 rounded-md outline-none opacity-70 transition opacity duration-200 hover:opacity-100"
                    id="sliderLength">
                <span class="px-4 w-1/6"><span id="outputLength"></span>%</span>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center w-5/6">
            <span class="pt-10 pb-2 text-xl font-semibold text-center">What amount would you like to pay every month?</span>
            <div class="flex justify-center items-center w-full rounded-xl bg-gray-200 p-2">
                <input type="number" name="installmentsLength" id="installmentsLength" placeholder="1000"
                    class="w-full rounded-lg p-1 text-center text-lg [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                    required>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center w-5/6 xl:w-1/2 mt-10">
            <button id="buttonLength"
                class="w-full h-full mt-5 bg-gray-700 p-2 rounded-lg text-white font-bold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-gray-500 duration-300">Check
                the result</button>
        </section>
    </section>

    <section id="formInstallments" class="flex flex-col justify-center items-center w-full xl:w-1/2 hidden">
        <section class="flex flex-col justify-center items-center w-5/6">
            <span class="pt-10 pb-2 text-xl font-semibold text-center">Please enter the ammount borrowed</span>
            <div class="flex justify-center items-center w-full rounded-xl bg-gray-200 p-2">
                <button type="button" id="decrement-button-installments"
                    class="bg-gray-500 hover:bg-gray-400 border-gray-400 border rounded-s-lg p-3 h-11 focus:ring-gray-500 focus:ring-2 focus:outline-none touch-pinch-zoom">
                    <svg class="w-4 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 18 2">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h16" />
                    </svg>
                </button>
                <input type="number" placeholder="20 000" id="quantity-input-installments"
                    class="border-x-0 h-11 text-center text-md  block w-full py-3.5 border-gray-400 focus:ring-blue-500 focus:border-blue-500 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
                <button type="button" id="increment-button-installments"
                    class="bg-gray-500 hover:bg-gray-400 border-gray-400 border rounded-e-lg p-3 h-11 focus:ring-gray-500 focus:ring-2 focus:outline-none touch-pinch-zoom">
                    <svg class="w-4 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 1v16M1 9h16" />
                    </svg>
                </button>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center w-5/6">
            <span class="pt-10 pb-2 text-xl font-semibold text-center">Please choose a rate for the loan</span>
            <div class="flex justify-center items-center w-full rounded-xl bg-gray-200 p-4">
                <input type="range" min="0" max="2000" value="0"
                    class="slider appearance-none w-5/6 h-4 rounded-md outline-none opacity-70 transition opacity duration-200 hover:opacity-100"
                    id="sliderInstallments">
                <span class="px-4 w-1/6"><span id="outputInstallments"></span>%</span>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center w-5/6">
            <span class="pt-10 pb-2 text-xl font-semibold text-center">How long would you want the loan to be? (in
                months)</span>
            <div class="flex justify-center items-center w-full rounded-xl bg-gray-200 p-2">
                <input type="number" name="lengthInstallments" id="lengthInstallments" placeholder="240"
                    class="w-full rounded-lg p-1 text-center text-lg [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                    required>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center w-1/4 xl:w-1/2 mt-10">
            <button id="buttonInstallments"
                class="w-full h-full mt-5 bg-gray-700 p-2 rounded-lg text-white font-bold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-gray-500 duration-300">Check
                the result</button>
        </section>
    </section>

    <section id="outputFinal" class="flex flex-col justify-center items-center w-5/6 xl:w-1/3">

    </section>
</body>
</html>