<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/head' %}

    <script src="scripts/index.js"></script>
</head>

<body class="w-screen flex flex-col justify-center">

    {% include 'partials/navbar' %}

    <div class="grid grid-cols-2 mt-10 xl:grid-cols-5 xl:mt-20">

        <div class="col-start-1 px-12 xl:col-start-2 flex justify-center xl:mb-20 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
            <a href="./calculator">
                <img id="calculator" src="images/calculator.png" alt="">
                <p class="text-center text-md pb-5 uppercase font-semibold">Loan calculator</p>
            </a>
        </div>

        <div class="px-12  flex justify-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
            <a href="/loan">
                <img id="question" src="images/question.png" alt="">
                <p class="text-center text-md pb-5 uppercase font-semibold">Loan application simulator</p>
            </a>
        </div>

        <div class="px-12  flex justify-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
            <a href="/exchange">
                <img id="exchange" src="images/exchange.png" alt="">
                <p class="text-center text-md pb-5 uppercase font-semibold">Currency Exchange</p>
            </a>
        </div>

        <div class="px-12 xl:col-start-2 flex justify-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
            <a href="/currency_list">
                <img id="list" src="images/list.png" alt="">
                <p class="text-center text-md pb-5 uppercase font-semibold">Check rates for today</p>
            </a>
        </div>

        <div class="px-12  flex justify-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
            <a href="/currency_history">
                <img id="history" src="images/history.png" alt="">
                <p class="text-center text-md pb-5 uppercase font-semibold">Check currency exchange rates over time</p>
            </a>
        </div>

        <div class="px-12  flex justify-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
            <a href="/inflation">
                <img id="inflation" src="images/inflation.png" alt="">
                <p class="text-center text-md pb-5 uppercase font-semibold">Check how inflation affects your savings</p>
            </a>
        </div>

    </div>
</body>

</html>