<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/head' %}

    <link rel="stylesheet" href="styles/list.css">
</head>
<body>
    {% include 'partials/navbar' %}

    <div class="flex flex-col justify-center items-center w-full">
        <section class="flex flex-col justify-center items-center w-5/6 pt-5 xl:w-3/4">
            <span class="pt-5 text-5xl font-bold text-center text-gray-800">Daily currency rates</span>
            <span class="pt-5 text-md text-gray-800 text-center xl:w-3/4">Welcome to our currency rates comparison! Below, you'll find today's exchange rate and the ammount it changed since yesterday for various currencies. Stay informed and make smarter financial decisions with our real-time data.</span>
        </section>

        <hr class="w-3/4 h-1 rounded-xl my-10 bg-gray-500 border-0">

        <section class="flex justify-center items-center bg-gray-600 rounded-t-lg w-5/6 py-2 xl:w-2/3">
            <div class="flex justify-center items-center text-white font-bold text-2xl h-12 w-2/5">
                <span>Currency</span>
            </div>
            <div class="flex justify-around items-center text-white font-bold text-2xl h-12 w-3/5">
                <span>Today</span>
                <span>Change</span>
            </div>
        </section>

        <section id="result" class="flex flex-col justify-center items-center w-full">
            {% for currency in currencies %}
            <div class="flex items-center justify-center h-10 w-5/6 table-striped xl:w-2/3">
                <div class="flex items-center w-2/5">
                    <span class="text-center w-full">
                        <span class="text-xl font-semibold">{{ currency.currency }}</span>
                        <span class="text-xs">EUR</span>
                    </span>
                </div>
                <div class="flex justify-around text-lg w-3/5">
                    <span>{{ currency.today_rate }}</span>
                    {% if '-' in currency.rate_change %}
                    <span class="text-red-600">{{ currency.rate_change }}</span>
                    {% else %}
                    <span class="text-green-600">{{ currency.rate_change }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>
    </div>

</body>
</html>